*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

body{
    background-image: url('../images/background-dark.png');
    background-size: cover;
    background-repeat: no-repeat; /* Prevent the background from repeating */
    background-attachment: fixed; /* Ensure the background stays fixed during scroll */
    color: white;
    opacity: 0;
    animation: fadeInUp 1s ease-in-out forwards;
}

img{
    width: 100%;
}

/* fonts */

@font-face {
  font-family: 'Panchang-Extralight';
  src: url('../fonts/Panchang-Extralight.woff2') format('woff2'),
       url('../fonts/Panchang-Extralight.woff') format('woff'),
       url('../fonts/Panchang-Extralight.ttf') format('truetype');
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Panchang-Light';
  src: url('../fonts/Panchang-Light.woff2') format('woff2'),
       url('../fonts/Panchang-Light.woff') format('woff'),
       url('../fonts/Panchang-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Panchang-Regular';
  src: url('../fonts/Panchang-Regular.woff2') format('woff2'),
       url('../fonts/Panchang-Regular.woff') format('woff'),
       url('../fonts/Panchang-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Panchang-Medium';
  src: url('../fonts/Panchang-Medium.woff2') format('woff2'),
       url('../fonts/Panchang-Medium.woff') format('woff'),
       url('../fonts/Panchang-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Panchang-Semibold';
  src: url('../fonts/Panchang-Semibold.woff2') format('woff2'),
       url('../fonts/Panchang-Semibold.woff') format('woff'),
       url('../fonts/Panchang-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Panchang-Bold';
  src: url('../fonts/Panchang-Bold.woff2') format('woff2'),
       url('../fonts/Panchang-Bold.woff') format('woff'),
       url('../fonts/Panchang-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Panchang-Extrabold';
  src: url('../fonts/Panchang-Extrabold.woff2') format('woff2'),
       url('../fonts/Panchang-Extrabold.woff') format('woff'),
       url('../fonts/Panchang-Extrabold.ttf') format('truetype');
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
/**
* This is a variable font
* You can control variable axes as shown below:
* font-variation-settings: wght 800.0;
*
* available axes:
'wght' (range from 200.0 to 800.0
*/
@font-face {
  font-family: 'Panchang-Variable';
  src: url('../fonts/Panchang-Variable.woff2') format('woff2'),
       url('../fonts/Panchang-Variable.woff') format('woff'),
       url('../fonts/Panchang-Variable.ttf') format('truetype');
  font-weight: 200 800;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'SpaceGrotesk-Light';
  src: url('../fonts/SpaceGrotesk-Light.woff2') format('woff2'),
       url('../fonts/SpaceGrotesk-Light.woff') format('woff'),
       url('../fonts/SpaceGrotesk-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'SpaceGrotesk-Regular';
  src: url('../fonts/SpaceGrotesk-Regular.woff2') format('woff2'),
       url('../fonts/SpaceGrotesk-Regular.woff') format('woff'),
       url('../fonts/SpaceGrotesk-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'SpaceGrotesk-Medium';
  src: url('../fonts/SpaceGrotesk-Medium.woff2') format('woff2'),
       url('../fonts/SpaceGrotesk-Medium.woff') format('woff'),
       url('../fonts/SpaceGrotesk-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'SpaceGrotesk-SemiBold';
  src: url('../fonts/SpaceGrotesk-SemiBold.woff2') format('woff2'),
       url('../fonts/SpaceGrotesk-SemiBold.woff') format('woff'),
       url('../fonts/SpaceGrotesk-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'SpaceGrotesk-Bold';
  src: url('../fonts/SpaceGrotesk-Bold.woff2') format('woff2'),
       url('../fonts/SpaceGrotesk-Bold.woff') format('woff'),
       url('../fonts/SpaceGrotesk-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'SpaceGrotesk-Variable';
  src: url('../fonts/SpaceGrotesk-Variable.woff2') format('woff2'),
       url('../fonts/SpaceGrotesk-Variable.woff') format('woff'),
       url('../fonts/SpaceGrotesk-Variable.ttf') format('truetype');
  font-weight: 300 700;
  font-display: swap;
  font-style: normal;
}


/* header en nav */

header nav{
    display: flex;
    justify-content: flex-end;
}

header nav button {
    background: none;
    border: 2px solid white;
    margin: 1.5em .7em;
    padding: .5em 1em;
    border-radius: 1.5em;
    color: white;

    transition: 300ms;
}

header nav button:hover {
    background-color: white;
    color: black;
}

/*section me */

h1{
  font-family: 'Panchang-Medium', Arial;
}

p{
  font-family: 'SpaceGrotesk-Regular', Arial;
}

button{
  font-family: 'Panchang-Regular', Arial;
}

.me{
    margin: 5em 10em;
    margin-bottom: 2em;
    position: relative;
    display: flex; /* Add this line */
    align-items: center; /* Add this line */
    justify-content: space-between; /* Add this line */
}

.me p{
  margin-top: 1em;
}

.me button{
    background: none;
    border: 2px solid white;

    margin: 1.5em 0;
    padding: .5em 1em;
    border-radius: 1.5em;
    color: white;

    transition: 300ms;
    position: relative;
    cursor: pointer;
}

.me .profile {
    max-width: 200px; /* Adjust the size to be smaller */
    border-radius: 50%; /* Make it circular */
    margin-left: 2em; /* Add some space between the text and image */
}

#carousel-container {
    margin: 1em 10em; /* Add this line */
}

#toggle-carousel{
  margin: 0 12em;
}

/* Responsive styles */
@media (max-width: 768px) {
    .me {
        margin: 2em;
        flex-direction: column; /* Stack items vertically on small screens */
        align-items: flex-start; /* Align items to the start */
    }

    .me .profile {
        margin-left: 0; /* Remove left margin on small screens */
        margin-bottom: 1em; /* Add bottom margin for spacing */
    }

    .me button {
        margin: 1em 0;
        padding: .5em;
    }

    #toggle-carousel, #carousel-container {
        margin: 2em; /* Add this line */
    }

    .carousel-item img {
        width: 100%;
        height: auto;
    }
}

/* ...existing code... */

#toggle-carousel {
    background: none;
    border: 2px solid white;
    padding: .5em 1em;
    border-radius: 1.5em;
    color: white;
    transition: 300ms;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#toggle-carousel::after {
    content: '';
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 0.5em;
    transform: rotate(-135deg); /* Change to point upwards */
}

#toggle-carousel.active {
    background-color: white;
    color: black;
}

#toggle-carousel.active::after {
    transform: rotate(45deg); /* Change to point downwards */
    border-color: black; /* Ensure the arrow remains visible */
}

.dropdown {
    display: none;
    position: relative;
    margin-top: 1em;
    opacity: 0;
    transform: translateY(-20px); /* Start slightly above */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; /* Add transition for opacity and transform */
}

.dropdown.active {
    display: block;
    opacity: 1; /* Ensure the dropdown becomes visible */
    transform: translateY(0); /* Move to its correct place */
}

.carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
    position: relative; /* Add this line */
}

.carousel-item {
    min-width: 100%;
    transition: transform 0.5s ease;
}

.carousel-control {
    background: none;
    border: 2px solid white;
    color: white;
    padding: .5em 1em;
    border-radius: 1.5em;
    transition: 300ms;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1; /* Add this line */
}

.carousel-control:hover {
    background-color: white;
    color: black;
}

.carousel-control.prev {
    left: 0; /* Adjust positioning to be inside the carousel */
}

.carousel-control.next {
    right: 0; /* Adjust positioning to be inside the carousel */
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


