*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}
html {
  scroll-behavior: smooth
}
body {
  background-image: url('../images/background-dark.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  opacity: 0;
  animation: fadeInUp 1s ease-in-out forwards
}
img {
  width: 100%;
  height: auto;
}
@font-face {
  font-family: Panchang-Extralight;
  src: url('../fonts/Panchang-Extralight.woff2') format('woff2'),url('../fonts/Panchang-Extralight.woff') format('woff'),url('../fonts/Panchang-Extralight.ttf') format('truetype');
  font-weight: 200;
  font-display: swap;
  font-style: normal
}
@font-face {
  font-family: Panchang-Light;
  src: url('../fonts/Panchang-Light.woff2') format('woff2'),url('../fonts/Panchang-Light.woff') format('woff'),url('../fonts/Panchang-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal
}
@font-face {
  font-family: Panchang-Regular;
  src: url('../fonts/Panchang-Regular.woff2') format('woff2'),url('../fonts/Panchang-Regular.woff') format('woff'),url('../fonts/Panchang-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal
}
@font-face {
  font-family: Panchang-Medium;
  src: url('../fonts/Panchang-Medium.woff2') format('woff2'),url('../fonts/Panchang-Medium.woff') format('woff'),url('../fonts/Panchang-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal
}
@font-face {
  font-family: Panchang-Semibold;
  src: url('../fonts/Panchang-Semibold.woff2') format('woff2'),url('../fonts/Panchang-Semibold.woff') format('woff'),url('../fonts/Panchang-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: normal
}
@font-face {
  font-family: Panchang-Bold;
  src: url('../fonts/Panchang-Bold.woff2') format('woff2'),url('../fonts/Panchang-Bold.woff') format('woff'),url('../fonts/Panchang-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal
}
@font-face {
  font-family: Panchang-Extrabold;
  src: url('../fonts/Panchang-Extrabold.woff2') format('woff2'),url('../fonts/Panchang-Extrabold.woff') format('woff'),url('../fonts/Panchang-Extrabold.ttf') format('truetype');
  font-weight: 800;
  font-display: swap;
  font-style: normal
}
@font-face {
  font-family: Panchang-Variable;
  src: url('../fonts/Panchang-Variable.woff2') format('woff2'),url('../fonts/Panchang-Variable.woff') format('woff'),url('../fonts/Panchang-Variable.ttf') format('truetype');
  font-weight: 200 800;
  font-display: swap;
  font-style: normal
}
@font-face {
  font-family: SpaceGrotesk-Light;
  src: url('../fonts/SpaceGrotesk-Light.woff2') format('woff2'),url('../fonts/SpaceGrotesk-Light.woff') format('woff'),url('../fonts/SpaceGrotesk-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal
}
@font-face {
  font-family: SpaceGrotesk-Regular;
  src: url('../fonts/SpaceGrotesk-Regular.woff2') format('woff2'),url('../fonts/SpaceGrotesk-Regular.woff') format('woff'),url('../fonts/SpaceGrotesk-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal
}
@font-face {
  font-family: SpaceGrotesk-Medium;
  src: url('../fonts/SpaceGrotesk-Medium.woff2') format('woff2'),url('../fonts/SpaceGrotesk-Medium.woff') format('woff'),url('../fonts/SpaceGrotesk-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal
}
@font-face {
  font-family: SpaceGrotesk-SemiBold;
  src: url('../fonts/SpaceGrotesk-SemiBold.woff2') format('woff2'),url('../fonts/SpaceGrotesk-SemiBold.woff') format('woff'),url('../fonts/SpaceGrotesk-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: normal
}
@font-face {
  font-family: SpaceGrotesk-Bold;
  src: url('../fonts/SpaceGrotesk-Bold.woff2') format('woff2'),url('../fonts/SpaceGrotesk-Bold.woff') format('woff'),url('../fonts/SpaceGrotesk-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal
}
@font-face {
  font-family: SpaceGrotesk-Variable;
  src: url('../fonts/SpaceGrotesk-Variable.woff2') format('woff2'),url('../fonts/SpaceGrotesk-Variable.woff') format('woff'),url('../fonts/SpaceGrotesk-Variable.ttf') format('truetype');
  font-weight: 300 700;
  font-display: swap;
  font-style: normal
}
a.button,
button {
  background: 0 0;
  margin-top: .5em;
  border: 2px solid #fff;
  padding: .3em .8em;
  border-radius: 1.5em;
  color: #fff;
  text-decoration: none;
  transition: .3s
}
a.button:hover,
button:hover {
  background-color: #fff;
  color: #000
}
header nav {
  display: flex;
  justify-content: flex-end
}
header nav a {
  font-family: Panchang-Regular,Arial;
  font-size: 1em;
  background: 0 0;
  border: 2px solid #fff;
  margin: 1em .5em;
  padding: .3em .8em;
  border-radius: 1.5em;
  color: #fff;
  text-decoration: none;
  transition: .3s
}
header nav a:hover {
  background-color: #fff;
  color: #000
}
header nav .home-button {
  margin-right: auto
}
.home-button a:hover {
  color: #000
}
.home-button a {
  text-decoration: none;
  color: #fff;
  border: none;
  padding: 0
}
@media (max-width:768px) {
  header nav {
    margin: .5em
  }
  header nav a {
    margin: .5em .3em;
    padding: .5em .8em
  }
  header nav .home-button {
    margin-left: 0
  }
}
@media (max-width:444px) {
  header nav a {
    font-size: .875em;
    padding: .5em .75em;
    margin: .3em .2em
  }
  a.button,
  button {
    padding: .6em 1em
  }
}
h1,
h2,
h3 {
  font-family: Panchang-Medium ,Arial;
}
h1 {
  font-size: clamp(1.25rem, 3vw + 1rem, 2.5rem)
}
h2 {
  font-size: clamp(1.125rem, 2.5vw + 1rem, 2.25rem)
}
h3 {
  font-size: clamp(1rem, 2.5vw + .5rem, 1.8rem)
}
p {
  font-family: SpaceGrotesk-Regular,Arial;
  font-size: clamp(.875rem, 2vw + .5rem, 1.2rem)
}
button {
  font-family: Panchang-Regular,Arial
}
.intro{
  position: relative;
  padding: 6em 10em;
  border-radius: 3em;
  margin-top: 6em !important;
}
.intro p{
  margin-bottom: 2em;
}

.intro a{
  text-decoration: none;
  font-family: Panchang-Medium, Arial;
  border: 1px solid #fff;
  border-radius: 2em;
  padding: .5em 1em;
  color: #fff;
  transition: 300ms;
}

.intro a:hover{
  background-color: #fff;
  color: #000;
}

.intro video{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.3;
  border-radius: 2em;
  border: 1px solid #fff;
}

@media (max-width: 768px) {
  .intro {
    padding: 4em 2em;
    border-radius: 2em;
  }

  .intro p {
    margin-bottom: 1.5em;
  }

  .intro a {
    padding: .4em .8em;
  }

  .intro video {
    border-radius: 2em;
  }
}

@media (max-width: 375px) {
  .intro {
    padding: 3em 2em;
    border-radius: 1em;
  }

  .intro p {
    margin-bottom: 1em;
  }

  .intro a {
    padding: .5em 1em;
  }

  .intro video {
    border-radius: 1em;
  }
}

.gallery{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.gallery img{
  width: 50%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Space Grotesk", sans-serif;
  background-color: #16181b;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  flex-flow: column;
  position: relative;
  padding: 5em 10em;
  margin: 0;
}
.carousel2 {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transform: perspective(1000px);
}
.carousel2 .item {
  /* background-color: white; */
  margin: 2px;
  transition: 0.5s;
  object-fit: cover;
  filter: brightness(1);
}

.carousel2 .item:hover {
  filter: brightness(1);
  transform: translateZ(170px) scaleY(1.2);
  
}
.carousel2 .item:hover + * {
  filter: brightness(0.6);
  transform: translateZ(120px) rotateY(25deg);
}
.carousel2 .item:hover + * + * {
  filter: brightness(0.4);
  transform: translateZ(50px) rotateY(15deg);
}
.carousel2 .item:has(+ *:hover) {
  filter: brightness(0.6);
  transform: translateZ(120px) rotateY(-25deg);
}
.carousel2 .item:has(+ * + *:hover) {
  filter: brightness(0.4);
  transform: translateZ(50px) rotateY(-15deg);
}

.container .item {
  width: 20%;
  height: 300px;
  max-width: 250px;
  object-fit: cover;
  /* ...existing code... */
}

.responsiveinspo{
  display: none;
}

.container2{
  display: none;
}

@media (max-width: 768px) {
  .container .item {
    width: 60%;
    height: auto;
    max-width: none;
  }
}

@media (max-width: 375px) {
  .container .item {
    width: 80%;
    height: auto;
    max-width: none;
  }
}

@media (max-width: 1000px) {

  .container2{
    display: block;
  }
  
  .container {
    display: none;
  }

  .responsiveinspo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .responsiveinspo img {
    width: 100%;
    height: auto;
    padding: .3em;
    border-radius: 1em;
    transition: 300ms;
  }

  .responsiveinspo img:hover {
    filter: brightness(1);
    transform: scale(1.1);
    box-shadow: 0 0 10px #ffd4f7,0 4px 8px rgba(0,0,0,.1);
    z-index: 1;
  }

  .container2{
    margin: 3em;
  }

  .container2 h2{
    padding-bottom: 1em;
  }
}


.gallery img:nth-of-type(1){
  grid-area: 1 / 2 / 2 / 3;
}

.gallery img:nth-of-type(2){
  grid-area: 1 / 1 / 4 / 2;
}

.gallery img:nth-of-type(3){
  grid-area: 2 / 2 / 3 / 3;
}

.gallery img:nth-of-type(4){
  grid-area: 3 / 2 / 4 / 3;
}

.me {
  margin: 5em 10em;
  margin-bottom: 2em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between
}
.me p {
  margin-top: 1em
}
.me button {
  background: 0 0;
  border: 2px solid #fff;
  margin: 1.5em 0;
  padding: .5em 1em;
  border-radius: 1.5em;
  color: #fff;
  transition: .3s;
  position: relative;
  cursor: pointer
}
.me .profile {
  max-width: 300px;
  margin-left: 2em
}
#carousel-container {
  margin: 1em 10em
}
#toggle-carousel {
  margin: 0 9.7em
}
@media (max-width:768px) {
  .me, .intro {
    margin: 2em;
    flex-direction: column;
    align-items: center
  }
  .me > .profile {
    margin-top: 2em;
    margin-left: 0em;
    margin-bottom: 1em;
    max-width: 200px;
  }
  .me button {
    margin: 1em 0;
    padding: .5em
  }
  #carousel-container,
  #toggle-carousel {
    margin: 2em
  }
  .carousel-item img {
    width: 100%;
    height: auto
  }
  .highlights {
    flex-direction: column;
    margin: 2em
  }
  .highlights div {
    margin: 1em 0
  }
}

#toggle-carousel {
  background: 0 0;
  border: 2px solid #fff;
  padding: .5em 1em;
  border-radius: 1.5em;
  color: #fff;
  transition: .3s;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1em;
}
#toggle-carousel::after {
  content: '';
  border: solid #fff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin-left: .5em;
  transform: rotate(-135deg)
}
#toggle-carousel.active {
  background-color: #fff;
  color: #000
}
#toggle-carousel.active::after {
  transform: rotate(45deg);
  border-color: #000
}
.dropdown {
  display: none;
  position: relative;
  margin-top: 1em;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity .5s ease-in-out,transform .5s ease-in-out
}
.dropdown.active {
  display: block;
  opacity: 1;
  transform: translateY(0)
}
.carousel {
  display: flex;
  overflow: hidden;
  width: 100%;
  position: relative
}
.carousel-item {
  min-width: 100%;
  transition: transform .5s ease
}
.carousel-control {
  background: 0 0;
  border: 2px solid #fff;
  color: #fff;
  padding: .5em 1em;
  border-radius: 1.5em;
  transition: .3s;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1
}
.carousel-control:hover {
  background-color: #fff;
  color: #000
}
.carousel-control.prev {
  left: 0
}
.carousel-control.next {
  right: 0
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px)
  }
  to {
    opacity: 1;
    transform: translateY(0)
  }
}
section {
  margin: 5em 10em;
  margin-top: 7em
}

.highlights{
  padding-top: 7em;
}


.highlights h2 {
  margin-bottom: 1em;
  border-bottom: 1px solid #fff;
  padding-bottom: 1em
}
.highlights h3 {
  font-size: 1.1em;
  margin-bottom: 1em
}
.highlights .projects {
  display: flex;
  justify-content: space-between
}
.highlights .projects > div {
  flex: 1;
  margin: 0 1em;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,.1);
  transition: transform .3s ease,box-shadow .3s ease,background-color .3s ease
}
.highlights .projects > div:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0,0,0,.2);
  background-color: rgba(255,255,255,.1)
}
.highlights img {
  width: 100%;
  border-radius: 10px
}
.highlights .projects > div:nth-of-type(3) img {
  margin-bottom: .5em
}
@media (max-width:768px) {
  .me {
    margin: 2em;
    flex-direction: column;
    align-items: flex-start
  }
  .me button {
    margin: 1em 0;
    padding: .5em
  }
  #carousel-container,
  #toggle-carousel {
    margin: 2em
  }
  .carousel-item img {
    width: 100%;
    height: auto
  }
  .highlights {
    margin: 2em
  }
  .highlights .projects {
    flex-direction: column
  }
  .highlights .projects > div {
    margin: 1em 0
  }
  .allprojects {
    margin: 2em
  }
  .codeprojects {
    margin: 2em
  }
  .codeprojects div {
    flex-direction: column;
    align-items: flex-start
  }
  .codeprojects button {
    margin-top: 1em;
    width: auto;
    text-align: center
  }
}
dialog::backdrop {
  background: rgba(0,0,0,.5)
}
@keyframes dialogFadeIn {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}
@keyframes dialogFadeOut {
  from {
    opacity: 1
  }
  to {
    opacity: 0
  }
}
.dialog {
  background: #3f3536;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 2em;
  box-shadow: 0 0 10px #ffd4f7,0 4px 8px rgba(0,0,0,.1);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  animation: dialogFadeIn 0.3s ease-out;
  width: clamp(300px,80%,600px)
}
.dialog[closing] {
  animation: dialogFadeOut 0.3s ease-out
}
.dialog-content {
  position: relative
}
.close-dialog {
  display: inline-block;
  background: #3f3536;
  padding: .2em .5em;
  border-radius: 1.5em;
  color: #fff;
  text-decoration: none;
  transition: .3s;
  position: absolute;
  top: -55px;
  right: -30px;
  cursor: pointer;
  font-size: 2em;
  border: none
}
.close-dialog:hover {
  color: #ffd4f7;
  background: 0 0
}
body.dialog-open {
  overflow: hidden
}

.dialog-content a{
  color: #ffd4f7;
}

.dialog-content:nth-of-type(2) > p{
  padding-bottom: 4em;
}

.allprojects h2 {
  margin-bottom: 1em;
  border-bottom: 1px solid #fff;
  padding-bottom: 1em
}

.allprojects h2:nth-of-type(2) {
  margin-top: 2em;
}
.allprojects {
  margin: 5em 10em;
  margin-top: 7em
}
.allprojects h2 {
  margin-bottom: 1em;
  border-bottom: 1px solid #fff;
  padding-bottom: 1em
}
.allprojects div {
  padding: 1em;
  font-family: Panchang-Medium,Arial;
  margin-bottom: 1em;
  border: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1em;
  transition: transform .3s ease,box-shadow .3s ease,background-color .3s ease
}
.allprojects div:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0,0,0,.2);
  background-color: rgba(255,255,255,.1)
}
.allprojects a {
  display: inline-block;
  background: #3f3536;
  border: 2px solid #fff;
  padding: 1em 1.5em;
  border-radius: 1.5em;
  color: #fff;
  text-decoration: none;
  transition: .3s;
  margin-top: 1em;
  margin-left: auto;
  position: relative;
  box-shadow: 0 0 10px #ffd4f7
}
.allprojects a::after {
  content: '➔';
  font-size: 1.2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #ffd4f7
}
.allprojects a:hover {
  background-color: #fff;
  color: #000;
  box-shadow: 0 0 20px #ffd4f7
}
@media (max-width:768px) {
  .allprojects {
    margin: 2em
  }
  .codeprojects {
    margin: 2em
  }
  .codeprojects div {
    flex-direction: column;
    align-items: flex-start
  }
  .codeprojects button {
    margin-top: 1em;
    width: auto;
    text-align: center
  }
}
.contact {
  margin: 12em 10em;
  text-align: center;
  padding-top: 8em;
}
.contact h2 {
  margin-bottom: 1em;
  border-bottom: 1px solid #fff;
  padding-bottom: 1em
}
.contact-links {
  display: flex;
  justify-content: center;
  gap: 2em
}
.contact p {
  font-family: SpaceGrotesk-SemiBold,Arial;
  font-size: 1.2em
}
.contact-link {
  display: flex;
  align-items: center;
  background: #3f3536;
  border: 2px solid #fff;
  padding: 1em 2em;
  border-radius: 2em;
  color: #fff;
  text-decoration: none;
  transition: .3s;
  box-shadow: 0 0 10px #ffd4f7
}
.contact-link img {
  width: 24px;
  height: 24px;
  margin-right: .5em
}
.contact-link:hover {
  color: #ffd4f7;
  box-shadow: 0 0 20px #ffd4f7;
  transform: scale(1.05)
}
@media (max-width:768px) {
  .me {
    margin: 2em;
    flex-direction: column;
    align-items: flex-start
  }
  .me button {
    margin: 1em 0;
    padding: .5em
  }
  #carousel-container,
  #toggle-carousel {
    margin: 2em
  }
  .carousel-item img {
    width: 100%;
    height: auto
  }
  .highlights {
    margin: 2em
  }
  .highlights .projects {
    flex-direction: column
  }
  .highlights .projects > div {
    margin: 1em 0
  }
  .allprojects {
    margin: 2em
  }
  .contact {
    margin: 2em
  }
  .contact h2 {
    font-size: 1.5em;
    padding-bottom: 0.5em
  }
  .contact-links {
    flex-direction: column;
    gap: 1em
  }
  .contact-link {
    padding: 1em;
    width: auto;
    justify-content: center
  }
  .contact-link img {
    margin-right: .5em
  }
}
.code-projects nav a {
  text-decoration: none;
  color: #fff
}
.code-projects nav a:hover {
  color: #000
}
@media (max-width:768px) {
  .intro-code {
    margin: 5em 2em
  }
}
.code-projects h3 {
  font-family: Panchang-Medium,Arial;
  font-size: 1em
}
.project-container {
  display: flex;
  flex-direction: column;
  padding: 1em;
  padding-bottom: 0;
  margin-bottom: 0;
  font-family: Panchang-Medium,Arial;
  margin-bottom: 1em;
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1em;
  transition: transform .3s ease,box-shadow .3s ease,background-color .3s ease
}
.project-container h3 {
  font-size: clamp(1rem, 2.5vw, 1.5rem)
}
.project-container:hover {
  box-shadow: 0 8px 16px rgba(0,0,0,.2);
  background-color: rgba(255,255,255,.1)
}
.project-container button {
  display: inline-block;
  background: #3f3536;
  border: 2px solid #fff;
  padding: 1em 1.5em;
  border-radius: 1.5em;
  color: #fff;
  text-decoration: none;
  transition: .3s;
  box-shadow: 0 0 10px #ffd4f7
}
.project-container button:hover {
  background-color: #fff;
  color: #000;
  box-shadow: 0 0 20px #ffd4f7
}

.project-container a{
  text-decoration: none;
  color: white;
  padding: .5em 1em;
  border: 1px solid white;
  border-radius: 2em;
  transition: 300ms;
}

.project-container a:hover{
  background-color: white;
  color: black;
}

.project-info,
.project-info2,
.project-info3,
.project-info4 {
  height: 0;
  overflow: hidden;
  transition: height .3s ease,opacity .3s ease;
  margin-bottom: 1em;
  opacity: 0
}
.project-info.visible,
.project-info2.visible,
.project-info3.visible,
.project-info4.visible {
  opacity: 1
}
.project-info img,
.project-info2 img,
.project-info3 img,
.project-info4 img {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  margin-bottom: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto
}
/* .project-info2 img {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  margin-bottom: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto
} */
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em
}
@media (max-width:768px) {
  .flex-row {
    flex-direction: column;
    align-items: flex-start
  }
  .flex-row button {
    margin-top: 1em;
    width: auto;
    text-align: center
  }
}
@media (max-width:768px) {
  .code-projects {
    margin: 2em
  }
  .code-projects .project-container {
    flex-direction: column;
    align-items: flex-start
  }
  .code-projects .project-container button {
    margin-top: 1em;
    width: auto;
    text-align: center
  }
  .code-projects .project-info,
  .code-projects .project-info2,
  .code-projects .project-info3,
  .code-projects .project-info4 {
    margin-bottom: 1em
  }
  .project-container button {
    top: -9px
  }
}
@media (max-width:375px) {
  .project-container h3 {
    font-size: clamp(.8rem, 2vw, 1.2rem)
  }
  .project-container button {
    padding: .3em .8em;
    font-size: .8rem
  }
}

header.design nav {
  display: flex;
  justify-content: flex-end;
}
header.design nav a {
  font-family: Panchang-Regular, Arial;
  font-size: 1em;
  background: 0 0;
  border: 2px solid #fff;
  margin: 1em .5em;
  padding: .3em .8em;
  border-radius: 1.5em;
  color: #fff;
  text-decoration: none;
  transition: .3s;
}
header.design nav a:hover {
  background-color: #fff;
  color: #000;
}
header.design nav .home-button {
  margin-right: auto;
}
.home-button a:hover {
  color: #000;
}
.home-button a {
  text-decoration: none;
  color: #fff;
  border: none;
  padding: 0;
}

.project-details{
  display: flex;
  flex-direction: row;
}

.project-details img{
  width: 50%;
  margin: 0 2em;
  border-radius: 1em;
}

.poster{
  width: 30%;;
}

.design-title{
  margin-left: 4.5em;
  margin-top: 2em ;
}

.project-imgs{
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.project-imgs img{
  width: 33%;
  height: auto;
  border-radius: 1em;
}

.boekbutton{
  text-decoration: none;
  color: white;
  border: 1px solid white;
  border-radius: 2em;
  padding: .5em 1em;
  font-family: 'panchang-regular', Arial;
  margin: 5em 10em;

}

@media (max-width:768px) {
  .project-details {
    flex-direction: column;
    flex: 1;
    margin: 2em 4em;
}

  .project-details img {
    width: 100%;
    margin: 0;
    margin-bottom: 2em;
  }

  .design-title {
    margin-left: 1.6em;
  }

  .project-imgs {
    flex-direction: column;
    gap: 1em;
  }

  .project-imgs img {
    width: 100%;
    height: auto;
  }
}

@media (max-width:375px) {
  .project-details {
    flex-direction: column;
    flex: 1;
    margin: 2em 3em;
}

  .project-details img {
    width: 100%;
    margin: 0;
    margin-bottom: 2em;
  }

  .design-title {
    margin-left: 1.55em;
  }

  .project-imgs {
    flex-direction: column;
    gap: 1em;
  }

  .project-imgs img {
    width: 100%;
    height: auto;
  }
}

.copyright{
  text-align: center;
  margin: 2em 2em;
  font-size: .7em;
  padding-top: 6em;
}

@media (max-width: 768px) {
  .open-dialog {
    font-size: 1em;
    padding: 0.5em 1em;
  }
}

@media (max-width: 375px) {
  .open-dialog {
    font-size: 1em;
    padding: 0.5em 1em;
  }
}

.images{
  margin: 5em 12em;
  display: flex;
  flex-direction: row;
}

.images img{
  border-radius: .5em;
  width: 35%;
  padding-right: 2em;
}

@media (max-width: 768px) {
  .images {
    margin: 3em 5em;
    flex-direction: column;
  }

  .images img{
    margin-top: 2em;
    border-radius: .5em;
    width: 100%;
    padding-right: 0;
  }
}

@media (max-width: 375px) {
  .images {
    margin: 1em 3em;
    flex-direction: column;
  }

  .images img{
    width: 100%;
    padding-right: 0;
  }
}